.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #A9A9A9;
    transition: opacity 0.5s linear;
    padding-left: 24px;
}

.header__link:hover {
    opacity: 0.6;
}
@media screen and (max-width: 940px) {
    .header__link {
        padding-right: 19px;
    }
}

.header__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}