.profile__button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity 0.5s linear;
}
.profile__button:hover {
    opacity: 0.6;
}