.profile__avatar {
    background-image: url('../../../images/update-avatar.svg');
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 50%;
    margin-right: 30px;
}
@media screen and (max-width: 767px) {
    .profile__avatar {
        margin-right: 0;
    }
}