@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/root/root.css);


@import url(./blocks/elements/elements.css);


@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hide/element__trash_hide.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__wrapper/element__wrapper.css);
@import url(./blocks/element/__likes-number/element__likes-number.css);


@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);


@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_type/popup__button_type_close.css);
@import url(./blocks/popup/__button/_type/popup__button_type_save.css);
@import url(./blocks/popup/__button/_type/popup__button_type_create.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__wrapper/popup__wrapper.css);
@import url(./blocks/popup/__img-text/popup__img-text.css);
@import url(./blocks/popup/_type/popup_type_img.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__info-item/popup__info-item.css);


@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__button/_type/profile__button_type_add.css);
@import url(./blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);

@import url(./blocks/main-button/main-button.css);
@import url(./blocks/main-button/_inactive/main-button_inactive.css);


.form {
    max-width: 358px;
    margin: 0 auto;
    
}
.form__title {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 60px 0 0;
}
.form__main {
    margin: 50px 0 0;
}
.form__fieldset {
    border: 0;
    padding: 0;
}
.form__input {
    background-color: transparent;
    font-family: inherit;
    width: 100%;
    height: 27px;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    margin-bottom: 30px;

}
.form__input:focus {
    outline: none;   
}
.form__submit-button {
    margin-top: 216px;
    width: 100%;
    min-height: 50px;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    border: 0;
}
.form__link{
    display: block;
    margin: 15px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.5s linear;
}
.form__link:hover {
    opacity: 0.5;
}

.popup__image{
    display: block;
    width: 120px;
    height: 120px;
    margin: 25px auto 0;
}

.popup__text {
    margin: 32px 0 25px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}